<div class= 'bookings_div'>
  <h2>Movies</h2>
            
  <table class="table">
    <thead>
      <tr>
        <th>name</th>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |mvi| %>
        <tr>
          <td><%= link_to "#{mvi.name}", theatres_path(movie_id: mvi.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>